header {
    font-size: 75px;
    background-color: wheat;
    text-align: center;
    border: 3px solid rgb(98, 98, 185);
    border-radius: 10px 10px 0 0;
    -webkit-text-stroke: 3px rgb(98, 98, 185);
}

::selection {
    color: white;
    background: rgb(98, 98, 185); /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: white;
    background: rgb(98, 98, 185); /* Gecko Browsers */
}

.section-header {
    -webkit-text-stroke: 2px rgb(98, 98, 185);
    font-size: 36px;
    font-family: 'Shrikhand', cursive;
    color: white;
}

.row {
    display: flex;
    justify-content: stretch;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 98, 185);
    border-radius: 0 0 10px 10px;
}

.section {
    background-color:wheat;
    border: 3px solid rgb(98, 98, 185);
    display: inline-block;
    margin: 10px;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.section-content{
    color: rgb(98, 98, 185);
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
}

header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.header img {
    border-image: repeat;
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
html {
    background-image: url("../Images/background.jpg");
    background-size: 700px;
    background-repeat: repeat;
    font-family: 'Shrikhand', cursive;
    color: white;
    background-attachment: fixed;
}
  
  .nav-list li {
    float: left;
  }
  
  .nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-list li a:hover {
    background-color: rgb(54, 71, 118);
  }
  .nav-list ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  .testimonials-row {
      justify-content: stretch;
  }

  .testimonials-image {
      padding: 5px;
      flex: 1;
  }

  .testimonials-content {
      flex: 2;
      padding:60px;
  }

  .testimonials-content .section-content {
        font-size: 30px;
  }

  .testimonials-image img {
      border: 3px solid rgb(98, 98, 185);
      border-radius: 10px;
  }

  .menu-container {
      flex: auto;
      background-color: white;
  }

  .menu-container > .section-header {
        color: rgb(98, 98, 185);
        -webkit-text-stroke: 0;
  }

  .menu-row {
      justify-content: stretch;
  }

  .menu-item-title {
      font-size: 24px;
      font-weight: 800;
      
  }

  .menu-item-row {
      display: flex;
      justify-content: stretch;
      margin-bottom: 10px;
  }
  .menu-item {
      flex: auto;
  }

  .mochi-item {
      margin: 0 0 20px 0;
  }

  .event-container {
      justify-content: stretch;
  }

  .event-container > div.section {
      flex: auto;
  }

  table {
      width: 100%;
  }

  table, th, td {
      border: 1px solid rgb(98, 98, 185);
      padding: 10px;
      background-color: white;
  }

  .gourmet {
    font-family: 'Shrikhand', cursive;
    color: white;
    -webkit-text-stroke: 1px rgb(98, 98, 185);
  }

  .center-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .image-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 20px;
  }

  .image-row img {
      border: 2px solid rgb(98, 98, 185);
  }
  .gallery-header {
      display: flex;
      justify-content: stretch;
  }

  .gallery-header div.section {
      flex: auto;
  }
  .business-info {
      font-size: 30px;
  }