<!DOCTYPE html>
<!-- This website template created by Marissa Wood -->
<html lang="en">
<head>
    <title>Gourmet Ramen</title>
    <meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/main.css" />
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
       <h3><strong>Gourmet Blog</strong></h3>
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
      </header>
   
    <nav>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./events.html">Events</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./testimonials.html">Testimonials</a></li>
            <li><a href="./process.html">Process</a></li>
            <li><a href="./blog.html">Blog</a></li>
          </ul>
    </nav>
</body>
</html>