<!DOCTYPE html>
<!-- This website template created by Marissa Wood -->
<html lang="en">
<head>
    <title>Gourmet Ramen</title>
    <meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/main.css" />
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
       <h3><strong>Gourmet Events</strong></h3>
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
      </header>
   
    <nav>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./events.html">Events</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./testimonials.html">Testimonials</a></li>
            <li><a href="./process.html">Process</a></li>
            <li><a href="./blog.html">Blog</a></li>
          </ul>
    </nav>

    <div class="row event-container">
        <div class="section">
            <div class="section-header">Events</div>
            <div class="section-content">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Description</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Dec 20, 2020</td>
                            <td>5pm to 9pm</td>
                            <td>Join us for a holiday celebration! Snowflake crafts for the kids and eggnog sake for the adults!</td>
                        </tr>
                        <tr>
                            <td>Dec 31, 2020</td>
                            <td>9pm to 1am</td>
                            <td>Ring in the new year at Gourmet Ramen! Free sparklers with every bowl and enjoy 10% off if you tell us your new years resolution!</td>
                        </tr>
                        <tr>
                            <td>Jan 2, 2021</td>
                            <td>All day!</td>
                            <td>Trying to cut the calories for your new years resolution? Enjoy 20% off our healthy miso ramen!</td>
                        </tr>
                        <tr>
                            <td>Feb 5, 2021</td>
                            <td>All day!</td>
                            <td>Celebrate our 27th anniversary with 27% off appetizers and a free mochi ice cream!</td>
                        </tr>
                        <tr>
                            <td>Feb 14, 2021</td>
                            <td>4pm to 9pm</td>
                            <td>Buy 1 get 1 bowl of our spicy valentines ramen complete with our heart-shaped narutomaki if you come in with your sweetheart or best friend!</td>
                        </tr>
                        <tr>
                            <td>Feb 28, 2021</td>
                            <td>All day!</td>
                            <td>Today all profits for our ramen donated to the local humane society! Eat noodles and save the animals!</td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2021</td>
                            <td>7pm to 9pm</td>
                            <td>Join us for a noodle making workshop with our very own head chef with over 100 years of noodle making experience! Walk home with a free pound of fresh ramen you made yourself! Reserve your spot ahead of time: limit 30</td>
                        </tr>
                        <tr>
                            <td>Apr 1, 2021</td>
                            <td>11am to 2pm</td>
                            <td>Surprise flavor ramen for April Fools day lunch! Are you brave enough to try it?</td>
                        </tr>
                        <tr>
                            <td>Jul 20, 2021</td>
                            <td>12pm to 4pm</td>
                            <td>Hot summer afternoons made cool this summer with buy 1 get 3 free mochi icecream!</td>
                        </tr>
                        <tr>
                            <td>Oct 10, 2021</td>
                            <td>All day!</td>
                            <td>Join us as we introduce our Autumnal Harvest ramen, showcasing fall crops such as napa cabbage, kabocha squash, and fresh taro root</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>