<!DOCTYPE html>
<!-- This website template created by Marissa Wood -->
<html lang="en">
<head>
    <title>Gourmet Ramen</title>
    <meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/main.css" />
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
       <h3><strong>Gourmet Gallery</strong></h3>
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
      </header>
   
    <nav>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./events.html">Events</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./testimonials.html">Testimonials</a></li>
          </ul>
    </nav>

    <div class="row gallery-header" id="kids-photos">
        <div class="section">
            <h2 class="section-header">Ramen Customer Fan Art</h2>
            <div class="section-content">
                <a href="#people-photos">Jump to photos taken inside the restaurant</a><br>
                <a href="#pet-photos">Jump to Pet Photos</a>
            </div>
        </div>
    </div>
    <div class="center-container">
        <div class="image-row">
            <img height="400px" src="/Images/ramendrawings/drawing1.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing2.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing3.jpg" alt="ramen drawing">
        </div>
        <div class="image-row">
            <img height="400px" src="/Images/ramendrawings/drawing4.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing5.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing6.jpg" alt="ramen drawing">
        </div>
        <div class="image-row">
            <img height="400px" src="/Images/ramendrawings/drawing7.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing8.jpg" alt="ramen drawing">
                <img height="400px" src="/Images/ramendrawings/drawing9.jpg" alt="ramen drawing">
        </div>
        <div class="image-row">
            <img height="400px" src="/Images/ramendrawings/drawing10.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing11.jpg" alt="ramen drawing">
            <img height="400px" src="/Images/ramendrawings/drawing12.jpg" alt="ramen drawing">
        </div>
    </div>

    <div class="row gallery-header" id="people-photos">
        <div class="section">
            <h2 class="section-header">Photos Taken Inside The Restaurant</h2>
            <div class="section-content">
                <a href="#pet-photos">Jump to Pet Photos</a><br>
                <a href="#kids-photos">Jump to Customer Fan Art</a>
            </div>
        </div>
    </div>

    <div class="center-container">
        <div class="image-row">
            <img alt="Protective ramen hair mask" src="/Images/1a.jpg" height="200px">
            <img alt="picture taken inside the restaurant" src="/Images/2a.jpg" height="200px">
            <img alt="picture taken inside the restaurant" src="/Images/3a.jpg" height="200px">
        </div>
        <div class="image-row">
            <img alt="picture taken inside the restaurant" src="/Images/4a.jpg" height="200px">
            <img alt="picture taken inside the restaurant" src="/Images/6a.jpg" height="200px">
            <img alt="picture taken inside the restaurant" src="/Images/12a.jpg" height="200px">
        </div>
    </div>

    <div class="row gallery-header" id="pet-photos">
        <div class="section">
            <h2 class="section-header">Animals Love Ramen Too!</h2>
            <div class="section-content">
                <a href="#people-photos">Jump to photos taken inside the restaurant</a><br>
                <a href="#kids-photos">Jump to Customer Fan Art</a>
            </div>
        </div>
    </div>
    <div class="center-container">
        <div class="image-row">
            <img alt="animal earting ramen" src="/Images/5a.jpg" height="200px">
            <img alt="animal earting ramen" src="/Images/7a.jpg" height="200px">
            <img alt="animal earting ramen" src="/Images/8a.jpg" height="200px">
        </div>
        <div class="image-row">
            <img alt="animal earting ramen" src="/Images/9a.jpg" height="200px">
            <img alt="animal earting ramen" src="/Images/10a.jpg" height="200px">
            <img alt="animal earting ramen" src="/Images/11a.jpg" height="200px">
        </div>
    </div>

    

</body>
</html>