<!DOCTYPE html>
<!-- This website template created by Marissa Wood -->
<html lang="en">
<head>
    <title>Gourmet Ramen</title>
    <meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/main.css" />
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
       <h3><strong>Gourmet Ramen</strong></h3>
       <img src="/images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/images/ramennoodles2.jpg" class="ramennoodles21" width="200">
      </header>
   
    <nav>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./events.html">Events</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./testimonials.html">Testimonials</a></li>
            <li><a href="./process.html">Process</a></li>
            <li><a href="./blog.html">Blog</a></li>
          </ul>
    </nav>
    <div class="row">
        <div class="section menu-container" style="background-color: wheat;">

            <div class="section-header" style="color: white;font-size: 80px; -webkit-text-stroke: 3px rgb(98, 98, 185);">
                <img width="60" src="../Images/leftchop.jpg" alt="">
                Gourmet Menu
                <img width="60" src="../Images/rightchop.jpg" alt="">
            </div>
            
            <div class="section-content">
                

                <!-- Menu Rows -->


                <div class="row menu-row">
                    <div class="section menu-container">
                        <h4 class="section-header">Ξ Appetizers Ξ</h4>
                        <div class="section-content">
                            <div class="menu-item-row">
                                <div class="menu-item">
                                    <div class="menu-item-title">Vegetable Gyoza 餃子 (5pc)</div>
                                        Steamed or fried gyoza<br>
                                        served with our signature gyoza sauce
                                </div>
                                <div class="menu-item">
                                    <div class="menu-item-title">Edamame 枝豆</div>
                                        Locally grown edamame, steamed and <br>
                                        served coated with spicy garlic miso
                                </div>
                            </div>
                            <div class="menu-item-row">
                                <div class="menu-item">
                                    <div class="menu-item-title">Agedashi Tofu 揚げ出し豆腐 (5pc)</div>
                                    Deep-fried and soaked in a sweet and savory sauce,<br>
                                    our agedashi tofu is both chewy and lightly crispy
                                </div>
                                <div class="menu-item">
                                    <div class="menu-item-title">Harumaki 春巻き</div>
                                Classic japanese style of spring roll filled with pork, <br>
                                chicken, shrimp, shiitake mushroom, carrots, and vermicelli
                                </div>
                            </div>

                       
                        
                        
                        
                        </div>
                    </div>
                </div>
                <div class="row menu-row">
                    <div class="section menu-container">
                        <h4 class="section-header">Ξ Noodles Ξ</h4>
                        <div class="section-content">
                            <div class="menu-item">
                                <div class="menu-item-title">The Sapporo 札幌市</div>
                                    Sapporo is known as the birthplace of miso ramen, and our<br>
                                    take stays true to the classic ingredients of miso paste<br>
                                    sauteed with ginger and garlic and then mixed with pork broth<br>
                                    and topped with roasted chashu pork, bamboo shoots, and bean sprouts<br>
                                    <br>
                            </div>
                                <div class="menu-item">
                                    <div class="menu-item-title">The Hakata 博多区</div>
                                    Hakata (in Fukuoka) is known for their tonkotsu prepared <br>
                                    from pork bones boiled at a high temperature, creating a rich and<br>
                                    milky broth with added seafood broth. The ramen is served with<br>
                                    thin noodles and topped with thick slices of roasted pork,<br>
                                    garlic, sesame seeds, and pickled ginger<br>
                                    <br>
                            </div>
                            <div class="menu-item">
                                <div class="menu-item-title">The Kitakata 喜多方市</div>
                                    Known for its hand-cut noodles, the Kitakata area of northern<br>
                                    Fukuoka uses a shoyu based soup with signature wavy egg noodles<br>
                                    a few pieces of chashu pork, bamboo shoots, and narutomaki<br>
                                    <br>
                            </div>
                            <div class="menu-item">
                                <div class="menu-item-title">The Nagoya 名古屋市</div>
                                    Nagoya’s local style of ramen is inspired by Taiwanese cooking.<br>
                                    This ramen features a shoyu broth topped with just spicy ground<br>
                                    pork and nira. The simplicity showcases the idea that less is more.<br>
                                    <br>
                                    
                            </div>
                            <div class="menu-item">
                                <div class="menu-item-title">The Hakodate 函館市</div>
                                    Hakodate, is considered the home of shio, or salt-based, ramen.<br>
                                    The clear soup broth is made with chicken, pork, seafood, and<br>
                                    kelp served with straight noodles cooked until tender, and<br>
                                    topped with green onions, narutomaki, and seasoned bamboo shoots<br>  
                                    <br>
                                               
                            </div>
                            <div class="menu-item">
                                <div class="menu-item-title">The Kagoshima 鹿児島県</div>
                                    Kagoshima ramen uses a distinct blended broth of pork, chicken,<br>
                                    dried sardines, vegetables, and dried shiitake mushrooms<br>
                                    and is topped with scorched scallions, mushrooms, bean sprouts<br>
                                    and chashu pork<br>
                                    <br>       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row menu-row">
                    <div class="section menu-container">
                        <h4 class="section-header">Ξ Mochi Ξ</h4>
                        <div class="section-content">
                                    
                                <div class="menu-item-row">
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Red Bean</h5>
                                    </div>
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Black Sesame</h5>
                                    </div>
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Matcha</h5>
                                    </div>
                                </div>

                                <div class="menu-item-row">
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Mango</h5>
                                    </div>
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Strawberry</h5>
                                    </div>
                                    <div class="menu-item">
                                        <h5 class="menu-item-title mochi-item">Taro</h5>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>