<!DOCTYPE html>
<!-- This website template created by Marissa Wood -->
<html lang="en">
<head>
    <title>Gourmet Ramen</title>
    <meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/main.css" />
    <style>
        .gourmet-font {
        font-family: 'Shrikhand', cursive;
        font-size: 35px;
        color: white;
        -webkit-text-stroke: 2px rgb(98, 98, 185);
    }
    </style>
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
       <h3><strong>Gourmet Reviews</strong></h3>
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
       <img src="/Images/ramennoodles2.jpg" class="ramennoodles21" width="200">
      </header>
   
    <nav>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./events.html">Events</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./testimonials.html">Testimonials</a></li>
          </ul>
    </nav>
    <div class="row testimonials-row">
        <div class="section testimonials-image">
            <div class="section-header">Guy Fieri</div>
            <div class="section-content">
                <img height="300px" src="/Images/guyfierib.jpg">
            </div>
        </div>
        <div class="section testimonials-content">
            
            <div class="section-content">
                "<span class="gourmet-font">Gourmet Ramen</span> is the most Flavortown restaurant I've ever visited. The ramen was amazing, 
                I ate every item on the menu repeatedly until they closed. I'll be back as soon as they open tomorrow."<br>
                &#9733;&#9733;&#9733;&#9733;&#9733;
            </div>
        </div>
    </div>
    <div class="row testimonials-row">
        <div class="section testimonials-content">
            
            <div class="section-content">
                "I never knew I could find ramen this good outside of Manhattan -or of course, Japan.
                I have been to every ramen shop and <span class="gourmet-font">Gourmet Ramen</span> is the best."<br>
                &#9733;&#9733;&#9733;&#9733;&#9733;
            </div>
        </div>
        <div class="section testimonials-image">
            <div class="section-header">Lady Gaga</div>
            <div class="section-content">
                <img height="300px" src="/Images/lgb.jpg">
            </div>
        </div>
    </div>
    <div class="row testimonials-row">
        <div class="section testimonials-image">
            <div class="section-header">Bill Nye</div>
            <div class="section-content">
                <img height="300px" src="/Images/billnyeb.jpg">
            </div>
        </div>
        <div class="section testimonials-content">
            <div class="section-content">
                "It does not take an intelligent man to know that this ramen is delicious. However, it takes an intelligent man to be asked to 
                leave a positive review of <span class="gourmet-font">Gourmet Ramen</span>. This establishment cooks with several ingredients, allowing you to supplement your diet with
                the nutritional diversity that is reccomended by medical doctors."<br>
                &#9733;&#9733;&#9733;&#9733;&#9733;
            </div>
        </div>
    </div>
    <div class="row testimonials-row">
        <div class="section testimonials-content">
            <div class="section-content">
                "I love <span class="gourmet-font">Gourmet Ramen</span>. They have the best service, food, and music. They play every 
                song I've ever wanted to hear while eating ramen. My tip for ordering here is to just try 
                everything, that way you get everything."<br>
                &#9733;&#9733;&#9733;&#9733;&#9733;
            </div>
        </div>
        <div class="section testimonials-image">
            <div class="section-header">Britney Spears</div>
            <div class="section-content">
                <img height="300px" src="/Images/britbritb.jpg">
            </div>
        </div>
    </div>
</body>
</html>